nuvem/Node Red/Flow TCC.txt
[
    {
        "id": "1a7acb0f.16a335",
        "type": "tab",
        "label": "TCC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b02dd975.0b3bf8",
        "type": "mqtt in",
        "z": "1a7acb0f.16a335",
        "name": "Subscriber TCC",
        "topic": "subscriberTCC",
        "qos": "0",
        "datatype": "auto",
        "broker": "bd075b1.4fd12a8",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "efc7db1a.010e88"
            ]
        ]
    },
    {
        "id": "efc7db1a.010e88",
        "type": "json",
        "z": "1a7acb0f.16a335",
        "name": "dados",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "a060cc15.fb1ca",
                "87d7f3aa.acdf2"
            ]
        ]
    },
    {
        "id": "a060cc15.fb1ca",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "flow variaveis",
        "func": "//var teste = msg.payload[\"pressao\"];\n//msg.payload = teste;\n//return msg;\n\n//flow.set('sensor3',{ payload: msg.payload[\"T\"][2]});\nflow.set('bateria',msg.payload[\"Bat\"]);\nflow.set('sensor1',msg.payload[\"T\"][0]);\nflow.set('sensor2',msg.payload[\"T\"][1]);\nflow.set('sensor3',msg.payload[\"T\"][2]);\nflow.set('sensor4',msg.payload[\"T\"][3]);\nflow.set('sensor5',msg.payload[\"T\"][4]);\nflow.set('sensor6',msg.payload[\"T\"][5]);\nflow.set('Watt',msg.payload[\"W\"]);\nflow.set('Tensao',msg.payload[\"V\"]);\nflow.set('Corrente',msg.payload[\"I\"]);\nflow.set('FatorPotencia',msg.payload[\"FP\"]);\nflow.set('WattHora',msg.payload[\"Wh\"]);\nflow.set('freq',msg.payload[\"freq\"]);\nflow.set('P1',msg.payload[\"P1\"]);\nflow.set('P2',msg.payload[\"P2\"]);\n\nflow.set('TED',msg.payload[\"TED\"]);\n\n//var msg1 = { payload: msg.payload[\"Bat\"]};\n//var msg2 = { payload: msg.payload[\"T\"][0]};\n//var msg3 = { payload: msg.payload[\"T\"][1]};\n//var msg4 = { payload: msg.payload[\"T\"][2]};\n//var msg5 = { payload: msg.payload[\"T\"][3]};\n//var msg6 = { payload: msg.payload[\"T\"][4]};\n//var msg7 = { payload: msg.payload[\"T\"][5]};\n//var msg8 = { payload: msg.payload[\"W\"]};\n//var msg9 = { payload: msg.payload[\"V\"]};\n//var msg10 = { payload: msg.payload[\"I\"]};\n//var msg11 = { payload: msg.payload[\"FP\"]};\n//var msg12 = { payload: msg.payload[\"Wh\"]};\n//var msg13 = { payload: msg.payload[\"freq\"]};\n//var msg14 = { payload: msg.payload[\"P1\"]};\n//var msg15 = { payload: msg.payload[\"P2\"]};\n\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 140,
        "wires": [],
        "info": "Alocação dos dados do JSON em variáveis flow (flow.set)"
    },
    {
        "id": "82ce56d0.055aa8",
        "type": "influxdb out",
        "z": "1a7acb0f.16a335",
        "influxdb": "40f5af08.bd742",
        "name": "Bateria",
        "measurement": "Bateria",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1300,
        "y": 60,
        "wires": []
    },
    {
        "id": "8362c3d9.c8fad",
        "type": "ui_gauge",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 1",
        "group": "eee38713.4ddce8",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Sensor 1",
        "label": "C°",
        "format": "{{value | number:2}}C°",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "43b31019.c9944",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 1",
        "func": "var controleUI = flow.get('sensor1');\nmsg.payload = flow.get('sensor1');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_1\",\n                        \"Gráficos_graficoSensor1\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_1\",\n                        \"Gráficos_graficoSensor1\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"false\": [\n                    \"Sensores_Sensor_1\",\n                    \"Gráficos_graficoSensor1\"\n                    ]\n            }\n        }\n    }\n}\nreturn [msg, controleUI];\n\n//    controleUI = {\n//        \"group\": {\n//            \"hide\": [\n//                \"TCC_Sensor_1\",\n//            ],\n//        \"show\": [\n//            \"Admin_Control\",\n//            \"Admin_admin2\"\n//            ]\n//        }\n//    }\n\n//msg = {\n//    \"payload\" : 10, //seu valor payload\n//    \"enabled\" : value //recebe valor de habilitar e desabilitar o gauge\n//}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "8362c3d9.c8fad",
                "3cc994f3.2a323c",
                "b69b24fe.540248"
            ],
            [
                "4396e1b2.7cbc1"
            ]
        ]
    },
    {
        "id": "86b24f5c.dbfb4",
        "type": "ui_gauge",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 3",
        "group": "a2bffc3e.e0b57",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Sensor 3",
        "label": "C°",
        "format": "{{value}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "e6e8b785.b28348",
        "type": "ui_gauge",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 4",
        "group": "61db0928.008e68",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Sensor 4",
        "label": "C°",
        "format": "{{value | number:2}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "bf520dbe.5238d",
        "type": "ui_gauge",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 5",
        "group": "8b690fbf.5fb4a",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "compass",
        "title": "Sensor 5",
        "label": "C°",
        "format": "{{value}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 500,
        "wires": []
    },
    {
        "id": "7ddd5649.51a3a8",
        "type": "ui_gauge",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 6",
        "group": "ae08bb4b.7a19d8",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Sensor 6",
        "label": "C°",
        "format": "{{value}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 580,
        "wires": []
    },
    {
        "id": "8296ef1b.98031",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Watt",
        "label": "Watt",
        "format": "{{value | number:2}} Watts",
        "layout": "col-center",
        "x": 1290,
        "y": 640,
        "wires": []
    },
    {
        "id": "5cdc2f0f.36ddc",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Tensão",
        "label": "Tensão",
        "format": "{{value | number:2}} V",
        "layout": "col-center",
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e2ecea9.8acc02",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "Corrente",
        "label": "Corrente",
        "format": "{{value | number:2}} A",
        "layout": "col-center",
        "x": 1300,
        "y": 800,
        "wires": []
    },
    {
        "id": "a310cd57.7e3bc",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 4,
        "width": 6,
        "height": 2,
        "name": "Fator de Potência",
        "label": "Fator de Potência",
        "format": "{{value | number:2}}",
        "layout": "col-center",
        "x": 1330,
        "y": 860,
        "wires": []
    },
    {
        "id": "42010708.b07dc8",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 5,
        "width": 6,
        "height": 2,
        "name": "Watt/hora",
        "label": "Watt/hora",
        "format": "{{value | number:2}} Wh",
        "layout": "col-center",
        "x": 1300,
        "y": 920,
        "wires": []
    },
    {
        "id": "fcdcb99b.35ac48",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "bf580dbe.73685",
        "order": 6,
        "width": 6,
        "height": 2,
        "name": "Frequência",
        "label": "Frequência",
        "format": "{{value | number:2}} Hz",
        "layout": "col-center",
        "x": 1310,
        "y": 980,
        "wires": []
    },
    {
        "id": "eef0ae54.837aa",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Watt",
        "func": "var controleUI = flow.get('Watt');\nmsg.payload = flow.get('Watt');\n\nif (controleUI <= 0) {\n    //controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\",]}}}\n    //flow.set('Watt',0);\n    return msg;\n}\n\ncontroleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\",]}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1090,
        "y": 640,
        "wires": [
            [
                "8296ef1b.98031"
            ]
        ]
    },
    {
        "id": "367d0005.6d759",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 2",
        "func": "var controleUI = flow.get('sensor2');\nmsg.payload = flow.get('sensor2');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_2\",\n                        \"Gráficos_graficoSensor2\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_2\",\n                        \"Gráficos_graficoSensor2\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"false\": [\n                    \"Sensores_Sensor_2\",\n                    \"Gráficos_graficoSensor2\"\n                    ]\n            }\n        }\n    }\n}\nreturn [msg, controleUI];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "2fb335db.78650a",
                "b4c83323.176cb",
                "b69b24fe.540248"
            ],
            [
                "76b38ef7.7cebb"
            ]
        ]
    },
    {
        "id": "c3264f12.5984c",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 3",
        "func": "var controleUI = flow.get('sensor3');\nmsg.payload = flow.get('sensor3');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_3\",\n                        \"Gráficos_graficoSensor3\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_3\",\n                        \"Gráficos_graficoSensor3\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\n                    \"Sensores_Sensor_3\",\n                    \"Gráficos_graficoSensor3\"\n                    ]\n            }\n        }\n    }\n}\n\nreturn [msg, controleUI];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "86b24f5c.dbfb4",
                "6c48eb6e.3740f4",
                "b69b24fe.540248"
            ],
            [
                "991209fa.bcb368"
            ]
        ]
    },
    {
        "id": "ad786165.2a2ed",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 4",
        "func": "var controleUI = flow.get('sensor4');\nmsg.payload = flow.get('sensor4');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_4\",\n                        \"Gráficos_graficoSensor4\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_4\",\n                        \"Gráficos_graficoSensor4\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"false\": [\n                    \"Sensores_Sensor_4\",\n                    \"Gráficos_graficoSensor4\"\n                    ]\n            }\n        }\n    }\n}\nreturn [msg, controleUI];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "e6e8b785.b28348",
                "6dfd13c8.3d6c3c",
                "b69b24fe.540248"
            ],
            [
                "51e6958a.40571c"
            ]
        ]
    },
    {
        "id": "eb041d34.a868f",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 5",
        "func": "var controleUI = flow.get('sensor5');\nmsg.payload = flow.get('sensor5');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_5\",\n                        \"Gráficos_graficoSensor5\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_5\",\n                        \"Gráficos_graficoSensor5\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"false\": [\n                    \"Sensores_Sensor_5\",\n                    \"Gráficos_graficoSensor5\"\n                    ]\n            }\n        }\n    }\n}\nreturn [msg, controleUI];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "bf520dbe.5238d",
                "1b4773c5.eab42c",
                "b69b24fe.540248"
            ],
            [
                "937afb68.cc6c58"
            ]
        ]
    },
    {
        "id": "20c4acce.512284",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 6",
        "func": "var controleUI = flow.get('sensor6');\nmsg.payload = flow.get('sensor6');\n\nif (controleUI <= -127) {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\"Sensores_Sensor_6\",\n                        \"Gráficos_graficoSensor6\"\n                ]\n            }\n        },\n    }\n    //msg.visible = false;\n    return [msg, controleUI];\n}\n\nvar abilitar = flow.get('botao_temp');\n\nif (abilitar == true){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"show\": [\"Sensores_Sensor_6\",\n                        \"Gráficos_graficoSensor6\"\n                ]\n            }\n        }\n    }   \n} else {\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"false\": [\n                    \"Sensores_Sensor_6\",\n                    \"Gráficos_graficoSensor6\"\n                    ]\n            }\n        }\n    }\n}\n\nreturn [msg, controleUI];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "7ddd5649.51a3a8",
                "2eca0af9.0ff1b6",
                "b69b24fe.540248"
            ],
            [
                "69ba5f56.e2e75"
            ]
        ]
    },
    {
        "id": "9be8b6b5.c3fd68",
        "type": "json",
        "z": "1a7acb0f.16a335",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 820,
        "wires": [
            [
                "e464aa66.3e83c8"
            ]
        ]
    },
    {
        "id": "e464aa66.3e83c8",
        "type": "mqtt out",
        "z": "1a7acb0f.16a335",
        "name": "Publisher TCC",
        "topic": "comandosTCC",
        "qos": "",
        "retain": "",
        "broker": "bd075b1.4fd12a8",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "3db45320.ac7fdc",
        "type": "join",
        "z": "1a7acb0f.16a335",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "9be8b6b5.c3fd68"
            ]
        ]
    },
    {
        "id": "bd9d0ba5.4bbbc8",
        "type": "ui_dropdown",
        "z": "1a7acb0f.16a335",
        "name": "Escolha Gas",
        "label": "Tipo de Gás",
        "tooltip": "Tolltip",
        "place": "Selecione o tipo de gás",
        "group": "69ba0a78.e60d64",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "R-141b",
                "value": 1,
                "type": "num"
            },
            {
                "label": "R-125",
                "value": 2,
                "type": "num"
            },
            {
                "label": "R-124",
                "value": 3,
                "type": "num"
            },
            {
                "label": "R-22",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Gas",
        "topicType": "str",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "3db45320.ac7fdc"
            ]
        ]
    },
    {
        "id": "34d0c6d6.9346da",
        "type": "ui_slider",
        "z": "1a7acb0f.16a335",
        "name": "Tempo envio dados",
        "label": "Leitura (seg)",
        "tooltip": "",
        "group": "69ba0a78.e60d64",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "TED",
        "topicType": "str",
        "min": "2",
        "max": "120",
        "step": "1",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "3db45320.ac7fdc"
            ]
        ]
    },
    {
        "id": "8aeb4c58.0ce5a",
        "type": "mqtt in",
        "z": "1a7acb0f.16a335",
        "name": "subscriber_Debug_TCC",
        "topic": "subscriber_Debug_TCC",
        "qos": "0",
        "datatype": "auto",
        "broker": "bd075b1.4fd12a8",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "1a0bce1b.603832"
            ]
        ]
    },
    {
        "id": "1a0bce1b.603832",
        "type": "json",
        "z": "1a7acb0f.16a335",
        "name": "dados",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "863d9255.8bf7c"
            ]
        ]
    },
    {
        "id": "e6128492.da5518",
        "type": "influxdb out",
        "z": "1a7acb0f.16a335",
        "influxdb": "40f5af08.bd742",
        "name": "Debug",
        "measurement": "Debug",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6ca1df87.d4a75",
        "type": "ui_artlessgauge",
        "z": "1a7acb0f.16a335",
        "group": "fbc95915.298378",
        "order": 1,
        "width": "3",
        "height": 1,
        "name": "Bateria",
        "icon": "fa-battery-full",
        "label": "",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff0505",
                "t": "min",
                "dot": 0
            },
            {
                "val": 10,
                "col": "#d80e2c",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#efe815",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 31,
                "col": "#28e60f",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#28e60f",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "2fb335db.78650a",
        "type": "ui_artlessgauge",
        "z": "1a7acb0f.16a335",
        "group": "830038c4.45ce28",
        "order": 1,
        "width": 4,
        "height": 3,
        "name": "Sensor 2",
        "icon": "",
        "label": "Sensor 2",
        "unit": "C°",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -40,
                "col": "#0091ff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 130,
                "col": "#0091ff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1300,
        "y": 260,
        "wires": []
    },
    {
        "id": "e391e9fc.919bf8",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Temperatura",
        "group": "685e1485.42577c",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Sensores_Wattimetro\",\"Sensores_Pressão\",\"Sensores_Comandos\",\"Sensores_Desconectado\"],\"show\":[\"Sensores_Sensor_1\",\"Sensores_Sensor_2\",\"Sensores_Sensor_3\",\"Sensores_Sensor_4\",\"Sensores_Sensor_5\",\"Sensores_Sensor_6\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "80a3f20b.96f35",
                "c6b01592.82fde8"
            ]
        ]
    },
    {
        "id": "87d0da39.dc23d8",
        "type": "ui_ui_control",
        "z": "1a7acb0f.16a335",
        "name": "UI control",
        "events": "all",
        "x": 180,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d42eaa0.783fa58",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Wattimetro",
        "group": "685e1485.42577c",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Watt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Sensores_Sensor_1\",\"Sensores_Sensor_2\",\"Sensores_Sensor_3\",\"Sensores_Sensor_4\",\"Sensores_Sensor_5\",\"Sensores_Sensor_6\",\"Sensores_Pressão\",\"Sensores_Comandos\"],\"show\":[\"Sensores_Wattimetro\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "fc51d520.ac0e08",
                "a162dc61.550e"
            ]
        ]
    },
    {
        "id": "8d5b40ef.6a0d5",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Pressão",
        "group": "685e1485.42577c",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Pressão",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Sensores_Sensor_1\",\"Sensores_Sensor_2\",\"Sensores_Sensor_3\",\"Sensores_Sensor_4\",\"Sensores_Sensor_5\",\"Sensores_Sensor_6\",\"Sensores_Wattimetro\",\"Sensores_Comandos\",\"Sensores_Desconectado\"],\"show\":[\"Sensores_Pressão\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "d4f2cc23.f7d11"
            ]
        ]
    },
    {
        "id": "6436868e.eb1318",
        "type": "ui_artlessgauge",
        "z": "1a7acb0f.16a335",
        "group": "da231fcc.9f658",
        "order": 1,
        "width": 3,
        "height": 3,
        "name": "Pressão 1",
        "icon": "",
        "label": "Pressão 1",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#937548",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#937548",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1280,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4ca03e73.378c3",
        "type": "ui_artlessgauge",
        "z": "1a7acb0f.16a335",
        "group": "da231fcc.9f658",
        "order": 3,
        "width": 3,
        "height": 3,
        "name": "Pressão 2",
        "icon": "",
        "label": "Pressão 2",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#937548",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#937548",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "10",
        "x": 1260,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b48e7f96.123e8",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Resetar Wifi",
        "group": "69ba0a78.e60d64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Resetar WiFi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "rst",
        "topicType": "str",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "3db45320.ac7fdc"
            ]
        ]
    },
    {
        "id": "4000835e.61ac5c",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Reiniciar sistema",
        "group": "69ba0a78.e60d64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reiniciar sistema",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "reinicia",
        "topicType": "str",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "3db45320.ac7fdc"
            ]
        ]
    },
    {
        "id": "3cc994f3.2a323c",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 1",
        "group": "7d7ed425.3902dc",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Sensor 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b4c83323.176cb",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 2",
        "group": "74c3395f.a1e678",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Sensor 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6c48eb6e.3740f4",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 3",
        "group": "502aa149.7d1b5",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Sensor 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6dfd13c8.3d6c3c",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 4",
        "group": "73b7a118.b8d5e",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Sensor 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1b4773c5.eab42c",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 5",
        "group": "d89a85c0.03a228",
        "order": 1,
        "width": "8",
        "height": 4,
        "label": "Sensor 5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2eca0af9.0ff1b6",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico Sensor 6",
        "group": "d2dcf8f4.1036e8",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Sensor 6",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "80a3f20b.96f35",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Função botão temperaturas",
        "func": "//var teste = flow.get('teste') || 0;\n\nflow.set('botao_temp', true);\nflow.set('botao_watt', false);\nflow.set('botao_pressao', false);\n\nvar esconde, revela;\n\nesconde = {\n    \"enabled\" : false\n}\n\nrevela = {\n    \"enabled\" : true\n}\n\nreturn [msg, esconde, revela];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 275,
        "y": 260,
        "wires": [
            [
                "1cbef3a7.b1264c"
            ],
            [
                "ac809fa9.8bbc8"
            ],
            [
                "656a420b.730e8c"
            ]
        ],
        "l": false
    },
    {
        "id": "fc51d520.ac0e08",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Função botão wattimetro",
        "func": "flow.set('botao_temp', false);\nflow.set('botao_watt', true);\nflow.set('botao_pressao', false);\n\nvar esconde, revela;\n\nesconde = {\n    \"enabled\" : false\n}\n\nrevela = {\n    \"enabled\" : true\n}\n\nreturn [msg, esconde, revela];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 275,
        "y": 380,
        "wires": [
            [
                "6b0c9607.fc3e18"
            ],
            [
                "5adc29ab.1870a8"
            ],
            [
                "596dadb3.20d7f4"
            ]
        ],
        "l": false
    },
    {
        "id": "d4f2cc23.f7d11",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Função botão pressao",
        "func": "flow.set('botao_temp', false);\nflow.set('botao_watt', false);\nflow.set('botao_pressao', true);\n\nvar esconde, revela;\n\nesconde = {\n    \"enabled\" : false\n}\n\nrevela = {\n    \"enabled\" : true\n}\n\nreturn [msg, esconde, revela];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 275,
        "y": 500,
        "wires": [
            [
                "868c45cd.f1c2b8"
            ],
            [
                "75c98cbc.a92d34"
            ],
            [
                "d4580e79.afdc"
            ]
        ],
        "l": false
    },
    {
        "id": "a3c0aa07.0c5148",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "Temp botão entra",
        "links": [
            "ac809fa9.8bbc8",
            "596dadb3.20d7f4",
            "d4580e79.afdc"
        ],
        "x": 35,
        "y": 260,
        "wires": [
            [
                "e391e9fc.919bf8"
            ]
        ]
    },
    {
        "id": "ac809fa9.8bbc8",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Temp botão desativa sai",
        "links": [
            "a3c0aa07.0c5148",
            "6c41b15d.2aefa",
            "7991770b.1419d8",
            "b72a4746.3ded78",
            "e37b8e5b.9e373",
            "e8ef256d.3ba0b8",
            "85f0d3a0.ac4ed"
        ],
        "x": 335,
        "y": 260,
        "wires": []
    },
    {
        "id": "5adc29ab.1870a8",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Watt botão desativa sai",
        "links": [
            "401e9813.874018",
            "5c05ad2.b975054"
        ],
        "x": 335,
        "y": 380,
        "wires": []
    },
    {
        "id": "75c98cbc.a92d34",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Pressão botão desativa sai",
        "links": [
            "959cba1a.116b18"
        ],
        "x": 335,
        "y": 500,
        "wires": []
    },
    {
        "id": "401e9813.874018",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "Watt botão entra",
        "links": [
            "5adc29ab.1870a8",
            "656a420b.730e8c",
            "d4580e79.afdc"
        ],
        "x": 35,
        "y": 380,
        "wires": [
            [
                "d42eaa0.783fa58"
            ]
        ]
    },
    {
        "id": "959cba1a.116b18",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "Pressão Botão entra",
        "links": [
            "75c98cbc.a92d34",
            "656a420b.730e8c",
            "596dadb3.20d7f4"
        ],
        "x": 35,
        "y": 500,
        "wires": [
            [
                "8d5b40ef.6a0d5"
            ]
        ]
    },
    {
        "id": "656a420b.730e8c",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Temp botão ativa sai",
        "links": [
            "401e9813.874018",
            "959cba1a.116b18",
            "5c05ad2.b975054"
        ],
        "x": 335,
        "y": 300,
        "wires": []
    },
    {
        "id": "596dadb3.20d7f4",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Watt botão ativa sai",
        "links": [
            "959cba1a.116b18",
            "a3c0aa07.0c5148",
            "6c41b15d.2aefa",
            "7991770b.1419d8",
            "b72a4746.3ded78",
            "e37b8e5b.9e373",
            "e8ef256d.3ba0b8",
            "85f0d3a0.ac4ed"
        ],
        "x": 335,
        "y": 420,
        "wires": []
    },
    {
        "id": "d4580e79.afdc",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "Pressão botão ativa sai",
        "links": [
            "401e9813.874018",
            "a3c0aa07.0c5148",
            "6c41b15d.2aefa",
            "7991770b.1419d8",
            "b72a4746.3ded78",
            "e37b8e5b.9e373",
            "e8ef256d.3ba0b8",
            "85f0d3a0.ac4ed",
            "5c05ad2.b975054"
        ],
        "x": 335,
        "y": 540,
        "wires": []
    },
    {
        "id": "3004b20.89c294e",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "UI recebe",
        "links": [
            "1cbef3a7.b1264c",
            "6b0c9607.fc3e18",
            "868c45cd.f1c2b8",
            "4396e1b2.7cbc1",
            "991209fa.bcb368",
            "76b38ef7.7cebb",
            "51e6958a.40571c",
            "937afb68.cc6c58",
            "69ba5f56.e2e75",
            "5253213.10464e",
            "db7050fd.d5e0e",
            "19c3924c.31da3e",
            "46dab9bf.a24298"
        ],
        "x": 55,
        "y": 580,
        "wires": [
            [
                "87d0da39.dc23d8"
            ]
        ]
    },
    {
        "id": "1cbef3a7.b1264c",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 335,
        "y": 220,
        "wires": []
    },
    {
        "id": "6b0c9607.fc3e18",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 335,
        "y": 340,
        "wires": []
    },
    {
        "id": "868c45cd.f1c2b8",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 335,
        "y": 460,
        "wires": []
    },
    {
        "id": "87d7f3aa.acdf2",
        "type": "debug",
        "z": "1a7acb0f.16a335",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c8c6f24.49a13",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "DEBUG recebe",
        "links": [
            "668cc129.bf0b1",
            "da123f8b.f9657",
            "562e5ec.fe249a"
        ],
        "x": 95,
        "y": 80,
        "wires": [
            [
                "87d7f3aa.acdf2"
            ]
        ]
    },
    {
        "id": "1e1a8d5e.39a4d3",
        "type": "inject",
        "z": "1a7acb0f.16a335",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"T\":[-127,-127,-127,-127,-127,-127],\"W\":-1,\"V\":-1,\"I\":-1,\"FP\":-1,\"Wh\":-1,\"freq\":-1,\"P1\":0,\"P2\":0,\"Bat\":0,\"TED\":2000,\"Gas\":0,\"bateriaMax\":0,\"bateriaMin\":5000}",
        "payloadType": "json",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "a060cc15.fb1ca"
            ]
        ]
    },
    {
        "id": "863d9255.8bf7c",
        "type": "debug",
        "z": "1a7acb0f.16a335",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4396e1b2.7cbc1",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 200,
        "wires": []
    },
    {
        "id": "991209fa.bcb368",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 340,
        "wires": []
    },
    {
        "id": "76b38ef7.7cebb",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 260,
        "wires": []
    },
    {
        "id": "51e6958a.40571c",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 420,
        "wires": []
    },
    {
        "id": "937afb68.cc6c58",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 500,
        "wires": []
    },
    {
        "id": "69ba5f56.e2e75",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 580,
        "wires": []
    },
    {
        "id": "c3d1aa52.264778",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Att firmware (OTA)",
        "group": "69ba0a78.e60d64",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar firmware",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OTA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "8058c2bf.c0a17"
            ]
        ]
    },
    {
        "id": "d4d2e18.850542",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Grafana",
        "group": "69ba0a78.e60d64",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Grafana",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Grafana",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "8058c2bf.c0a17"
            ]
        ]
    },
    {
        "id": "7af89464.0e335c",
        "type": "debug",
        "z": "1a7acb0f.16a335",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "ae5e7d84.ebb7d",
        "type": "ui_template",
        "z": "1a7acb0f.16a335",
        "group": "69ba0a78.e60d64",
        "name": "window redirect",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"OTA\") {\n          window.open(\"http://projetoifsc.duckdns.org:40070/esp8266-ota\");\n          //window.location.href = \"https://www.nodered.org\";\n        } \n        if (data == \"Grafana\") {\n          window.open(\"http://projetoifsc.duckdns.org:40090/d/MimCQDWRk/debug-projeto-tcc?orgId=1&refresh=5s\");\n          //window.location.href = \"https://github.com/node-red\";\n        } \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 520,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "8058c2bf.c0a17",
        "type": "trigger",
        "z": "1a7acb0f.16a335",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 920,
        "wires": [
            [
                "ae5e7d84.ebb7d"
            ]
        ]
    },
    {
        "id": "511deb09.b99b24",
        "type": "inject",
        "z": "1a7acb0f.16a335",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 790,
        "y": 500,
        "wires": [
            [
                "b1d987de.37b9e8",
                "43b31019.c9944",
                "c3264f12.5984c",
                "367d0005.6d759",
                "ad786165.2a2ed",
                "eb041d34.a868f",
                "20c4acce.512284",
                "eef0ae54.837aa",
                "175c8c9c.d7f1e3",
                "b32afac5.136d48",
                "fd4290e4.e0d55",
                "5341d23a.fffc4c",
                "609e499d.da1a58"
            ]
        ]
    },
    {
        "id": "b1d987de.37b9e8",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Bateria",
        "func": "msg.payload = flow.get('bateria');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "6ca1df87.d4a75"
            ]
        ]
    },
    {
        "id": "175c8c9c.d7f1e3",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Tensão",
        "func": "var controleUI = flow.get('Tensao');\nmsg.payload = flow.get('Tensao');\n\n//if (controleUI <= -1) {\n    //controleUI = {payload : {\"group\": {\"show\": [\"TCC_Wattimetro\",]}}}\n//    controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\"],\n//    \"show\" : [\"Principal_Desconectado\"]   }}}\n//    return [msg, controleUI];\n//}\n\n//controleUI = {payload : {\"group\": {\"show\": [\"Principal_Wattimetro\",]}}}\n//    controleUI = {payload : {\"group\": {\"show\": [\"Principal_Wattimetro\"],\n//    \"hide\" : [\"Principal_Desconectado\"]   }}}\n    \nvar abilitar = flow.get('botao_watt');\n\nif (abilitar == true){\n    if (controleUI <= -1){\n    controleUI = {payload : {\"group\": {\"hide\": [\"Sensores_Wattimetro\"],\n    \"show\" : [\"Sensores_Desconectado\"]   }}}\n    return [msg, controleUI];  \n    } else {\n        controleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\"],\n        \"hide\" : [\"Sensores_Desconectado\"]   }}}\n    return [msg, controleUI];\n    }\n}\n\nif (abilitar == false){\n    controleUI = {\n        payload : {\n            \"group\": {\n                \"hide\": [\n                    \"Sensores_Wattimetro\",\n                    \"Sensores_Desconectado\"\n                ]\n            }\n        }\n    }\n    return [msg, controleUI];\n}\n    \n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "5cdc2f0f.36ddc",
                "28460232.ef01ee"
            ],
            [
                "db7050fd.d5e0e"
            ]
        ],
        "info": "É nessa função que é feito o controle de exibir a mensagem de wattimetro desconectado ou não."
    },
    {
        "id": "db7050fd.d5e0e",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 1175,
        "y": 740,
        "wires": []
    },
    {
        "id": "28460232.ef01ee",
        "type": "ui_text",
        "z": "1a7acb0f.16a335",
        "group": "5ea7efee.6fefb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Wattimetro desconectado",
        "label": "Wattímetro desconectado",
        "format": "",
        "layout": "row-spread",
        "x": 1350,
        "y": 740,
        "wires": []
    },
    {
        "id": "b32afac5.136d48",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Corrente",
        "func": "var controleUI = flow.get('Corrente');\nmsg.payload = flow.get('Corrente');\n\nif (controleUI <= -1) {\n    //controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\",]}}}\n    //flow.set('Watt',0);\n    return msg;\n}\n\ncontroleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\",]}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 800,
        "wires": [
            [
                "2e2ecea9.8acc02"
            ]
        ]
    },
    {
        "id": "fd4290e4.e0d55",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Fator Potencia",
        "func": "var controleUI = flow.get('FatorPotencia');\nmsg.payload = flow.get('FatorPotencia');\n\nif (controleUI <= -1) {\n    //controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\",]}}}\n    //flow.set('Watt',0);\n    return msg;\n}\n\ncontroleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\",]}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 860,
        "wires": [
            [
                "a310cd57.7e3bc"
            ]
        ]
    },
    {
        "id": "5341d23a.fffc4c",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Watt Hora",
        "func": "var controleUI = flow.get('WattHora');\nmsg.payload = flow.get('WattHora');\n\nif (controleUI <= -1) {\n    //controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\",]}}}\n    //flow.set('Watt',0);\n    return msg;\n}\n\ncontroleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\",]}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 920,
        "wires": [
            [
                "42010708.b07dc8"
            ]
        ]
    },
    {
        "id": "609e499d.da1a58",
        "type": "function",
        "z": "1a7acb0f.16a335",
        "name": "Frequência",
        "func": "var controleUI = flow.get('freq');\nmsg.payload = flow.get('freq');\n\nif (controleUI <= 0) {\n    //controleUI = {payload : {\"group\": {\"hide\": [\"Principal_Wattimetro\",]}}}\n    //flow.set('Watt',0);\n    return msg;\n}\n\ncontroleUI = {payload : {\"group\": {\"show\": [\"Sensores_Wattimetro\",]}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1090,
        "y": 980,
        "wires": [
            [
                "fcdcb99b.35ac48"
            ]
        ]
    },
    {
        "id": "453b9962.aa7f18",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "",
        "group": "2e06e5e7fa74ac7d",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Sensores",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"tab\":\"Sensores\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "46dab9bf.a24298"
            ]
        ]
    },
    {
        "id": "4addb298.ed4a2c",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "",
        "group": "2e06e5e7fa74ac7d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Gráficos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"tab\":\"Gráficos\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "46dab9bf.a24298"
            ]
        ]
    },
    {
        "id": "730bd2fa.68f1ec",
        "type": "ui_button",
        "z": "1a7acb0f.16a335",
        "name": "Configurações",
        "group": "2e06e5e7fa74ac7d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Configurações",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"tab\":\"Configurações\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 380,
        "wires": [
            [
                "46dab9bf.a24298"
            ]
        ]
    },
    {
        "id": "46dab9bf.a24298",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "UI envia para UI",
        "links": [
            "3004b20.89c294e",
            "a21542f.2a4d9c",
            "39c00a2c.077866",
            "b86d9317.613c4",
            "5350668a.de8928"
        ],
        "x": 635,
        "y": 340,
        "wires": []
    },
    {
        "id": "c6b01592.82fde8",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas",
        "links": [
            "e177d2.4b64083",
            "3a376f3.f60ee9",
            "13b2dc02.c7c114",
            "ae59e52c.be2cd8",
            "b9f05679.2f3f38",
            "b578cd45.ed73"
        ],
        "x": 275,
        "y": 320,
        "wires": []
    },
    {
        "id": "e177d2.4b64083",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 160,
        "wires": [
            [
                "43b31019.c9944"
            ]
        ]
    },
    {
        "id": "3a376f3.f60ee9",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 240,
        "wires": [
            [
                "367d0005.6d759"
            ]
        ]
    },
    {
        "id": "13b2dc02.c7c114",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 320,
        "wires": [
            [
                "c3264f12.5984c"
            ]
        ]
    },
    {
        "id": "ae59e52c.be2cd8",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 400,
        "wires": [
            [
                "ad786165.2a2ed"
            ]
        ]
    },
    {
        "id": "b9f05679.2f3f38",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 480,
        "wires": [
            [
                "eb041d34.a868f"
            ]
        ]
    },
    {
        "id": "b578cd45.ed73",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group temperaturas sai",
        "links": [
            "c6b01592.82fde8"
        ],
        "x": 975,
        "y": 560,
        "wires": [
            [
                "20c4acce.512284"
            ]
        ]
    },
    {
        "id": "a162dc61.550e",
        "type": "link out",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group wattimetro",
        "links": [
            "3bd896c9.14400a"
        ],
        "x": 275,
        "y": 440,
        "wires": []
    },
    {
        "id": "3bd896c9.14400a",
        "type": "link in",
        "z": "1a7acb0f.16a335",
        "name": "atualiza group wattimetro sai",
        "links": [
            "a162dc61.550e"
        ],
        "x": 975,
        "y": 720,
        "wires": [
            [
                "175c8c9c.d7f1e3"
            ]
        ]
    },
    {
        "id": "b69b24fe.540248",
        "type": "ui_chart",
        "z": "1a7acb0f.16a335",
        "name": "Gráfico todos",
        "group": "6800cd0d.185524",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Todos os sensores",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bd075b1.4fd12a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "370",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "40f5af08.bd742",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "projetoIFSC",
        "name": "Debug",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "eee38713.4ddce8",
        "type": "ui_group",
        "name": "Sensor 1",
        "tab": "2118dd5a.5f9512",
        "order": 6,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "a2bffc3e.e0b57",
        "type": "ui_group",
        "name": "Sensor 3",
        "tab": "2118dd5a.5f9512",
        "order": 8,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "61db0928.008e68",
        "type": "ui_group",
        "name": "Sensor 4",
        "tab": "2118dd5a.5f9512",
        "order": 9,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "8b690fbf.5fb4a",
        "type": "ui_group",
        "name": "Sensor 5",
        "tab": "2118dd5a.5f9512",
        "order": 10,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ae08bb4b.7a19d8",
        "type": "ui_group",
        "name": "Sensor 6",
        "tab": "2118dd5a.5f9512",
        "order": 11,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "bf580dbe.73685",
        "type": "ui_group",
        "name": "Wattimetro",
        "tab": "2118dd5a.5f9512",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "69ba0a78.e60d64",
        "type": "ui_group",
        "name": "Comandos",
        "tab": "3aa764a3.9dd06c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbc95915.298378",
        "type": "ui_group",
        "name": "Bateria",
        "tab": "2118dd5a.5f9512",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "830038c4.45ce28",
        "type": "ui_group",
        "z": "1a7acb0f.16a335",
        "name": "Sensor 2",
        "tab": "2118dd5a.5f9512",
        "order": 7,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "685e1485.42577c",
        "type": "ui_group",
        "name": "Botoes",
        "tab": "2118dd5a.5f9512",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "da231fcc.9f658",
        "type": "ui_group",
        "name": "Pressão",
        "tab": "2118dd5a.5f9512",
        "order": 5,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7d7ed425.3902dc",
        "type": "ui_group",
        "name": "graficoSensor1",
        "tab": "2a305549.fbb63a",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "74c3395f.a1e678",
        "type": "ui_group",
        "name": "graficoSensor2",
        "tab": "2a305549.fbb63a",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "502aa149.7d1b5",
        "type": "ui_group",
        "name": "graficoSensor3",
        "tab": "2a305549.fbb63a",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "73b7a118.b8d5e",
        "type": "ui_group",
        "name": "graficoSensor4",
        "tab": "2a305549.fbb63a",
        "order": 5,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d89a85c0.03a228",
        "type": "ui_group",
        "name": "graficoSensor5",
        "tab": "2a305549.fbb63a",
        "order": 6,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d2dcf8f4.1036e8",
        "type": "ui_group",
        "name": "graficoSensor6",
        "tab": "2a305549.fbb63a",
        "order": 7,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "5ea7efee.6fefb",
        "type": "ui_group",
        "name": "Desconectado",
        "tab": "2118dd5a.5f9512",
        "order": 12,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2e06e5e7fa74ac7d",
        "type": "ui_group",
        "name": "Escolhas",
        "tab": "f0fd52393ca33537",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "6800cd0d.185524",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "2a305549.fbb63a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "2118dd5a.5f9512",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "assessment",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3aa764a3.9dd06c",
        "type": "ui_tab",
        "name": "Configurações",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a305549.fbb63a",
        "type": "ui_tab",
        "name": "Gráficos",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f0fd52393ca33537",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
